* {
	font-family: Microsoft YaHei;
}

QLabel#TitleContent {
	font-size: 12px;
	color: #ffffff;
}

QPushButton#buttonLogin {
	font-size: 14px;
	background: rgb(7, 189, 253);
	color: #ffffff;
	border: none;
	border-radius: 4px;
}

QPushButton#buttonLogin:hover,
QPushButton#buttonLogin:pressed {
	background: rgb(33, 200, 253);
}

QPushButton#buttonRegister2 {
	font-size: 14px;
	background: rgb(7, 189, 253);
	color: #ffffff;
	border: none;
	border-radius: 4px;
}

QPushButton#buttonRegister2:hover,
QPushButton#buttonRegister2:pressed {
	background: rgb(33, 200, 253);
}

QPushButton#buttonForgetPassword,
QPushButton#buttonRegister {
	background: transparent;
	font-size: 12px;
	color: rgb(0, 148, 206);
	border: none;
}

QPushButton#buttonForgetPassword:hover,
QPushButton#buttonRegister:hover {
	color: rgb(0, 164, 222);
}

QCheckBox {
	spacing: 5px;
	font-size: 12px;
	color: #666666;
	background-color: transparent;
}

QCheckBox::indicator:enabled,
QCheckBox::indicator:enabled:unchecked {
	width: 15px;
	height: 15px;
	border-image: url(:Resources/MainWindow/checkbox_normal.png);
}

QCheckBox::indicator:enabled:unchecked:hover {
	image: url(:Resources/MainWindow/checkbox_hightlight.png);
}

QCheckBox::indicator:enabled:checked {
	border-image: url(:Resources/MainWindow/checkbox_tick_normal.png);
}

QCheckBox::indicator:enabled:checked:hover {
	border-image: url(:Resources/MainWindow/checkbox_tick_highlight.png);
}

QLineEdit#lineEditUserAccount,
QLineEdit#lineEditUserPassword,
QLineEdit#lineEditUserPasswordConfirm {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QLineEdit#lineEditUserAccount:hover,
QLineEdit#lineEditUserPassword:hover,
QLineEdit#lineEditUserPasswordConfirm:hover {
	background: #FFFFFF;
	border: 1px solid rgb(0, 161, 219);
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
}

QPushButton#sysmin {
	border-image: url(:Resources/MainWindow/btn_mini_normal.gft.png);
}

QPushButton#sysmin:hover {
	border-image: url(:Resources/MainWindow/btn_mini_highlight.gft.png);
}

QPushButton#sysmin:pressed {
	border-image: url(:Resources/MainWindow/btn_mini_down.gft.png);
}

QPushButton#sysclose {
	border-image: url(:Resources/MainWindow/btn_close_normal.gft.png);
	border-top-right-radius: 4;
}

QPushButton#sysclose:hover {
	border-image: url(:Resources/MainWindow/btn_close_highlight.gft.png);
	border-top-right-radius: 4;
}

QPushButton#sysclose:pressed {
	border-image: url(:Resources/MainWindow/btn_close_down.gft.png);
	border-top-right-radius: 4;
}